{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ToDo</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/slate/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.date.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.time.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

{% include 'includes/navbar.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Title <i class="fa fa-check-square-o"></i></h3>
                    <h4>Description</h4>
                    <br/>
                    <form class="form-horizontal form-inline">
                        <div class="form-group">
                            <div id="project-input" class="col-sm-6">
                                <input id="project-name" type="text" class="form-control"
                                       placeholder="Rename Your Project">
                            </div> <!--col-sm-6 -->
                            <div id="name-button" class="col-sm-1">
                                <button id="project-name-button" type="submit" class="btn btn-default">Submit</button>
                            </div> <!-- col-sm-2 -->
                        </div> <!-- form-group -->
                    </form>
                </div> <!--panel-heading -->
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr id="headerRow">
                            <th>List Title</th>
                            <th>Completed</th>
                            <th>Update</th>
                            <th>Remove</th>
                            <th>Priority</th>
                            <th>Due Date</th>
                        </tr>
                        </thead>
                        <tbody id="task-list">
                        <tr>
                            <td class="task word-td vert-align">Go round mums</td>
                            <td class=" vert-align">
                                <button type="button" class="unchecked btn btn-default"><i class="fa fa-check"></i>
                                </button>
                            </td>
                            <td class=" vert-align">
                                <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                            </td>
                            <td class=" vert-align">
                                <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td>Low</td>
                            <td>24.10.2020</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- panel panel-primary -->
        </div> <!-- col-md-9 -->
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Add New Project</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <form id="form">
                                <td>
                                    <div class="form-group">
                                        <input type="task" class="form-control new-task" placeholder="Project Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="task" class="form-control new-task" placeholder="Description">
                                    </div>
                                    <div class="form-group">
                                        <button id="new-task-button" type="submit" class="btn btn-success btn-block"><i
                                                id="plus-icon" class="fa fa-plus"></i></button>
                                    </div>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                        </tr>
                        </tfoot>
                    </table>
                    <div id="duplicate-msg" class="alert alert-danger" role="alert">
                        <p>You've already entered this.</p>
                    </div>
                    <div id="empty-msg" class="alert alert-danger" role="alert">
                        <p>Please enter a new task.</p>
                    </div>
                </div> <!-- end panel-body -->
                <div class="panel-heading">
                    <h3 class="panel-title">Project Name</h3>
                </div>
            </div> <!-- end panel panel-primary -->
        </div> <!-- end col-md-3 -->
    </div> <!-- end row -->
</main>
{% endblock %}

<footer id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-brand" href="#" target="_blank">ToDo App by valenwin</a>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/valenwin" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="mailto:tina.lysenok@gmail.com"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div> <!-- end collapse navbar-collapse navHeaderCollapse -->
    </div> <!-- end container -->
</footer>

<aside class="modal fade" id="contact" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel-heading">
                <h3 class="panel-title">Add New Task</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <form id="form">
                            <td>
                                <div class="form-group">
                                    <input type="task" class="form-control new-task" placeholder="Task Name">
                                </div>
                                <div class="form-group">
                                    <input type="task" class="form-control new-task" placeholder="Priority">
                                </div>
                                <div class="form-group">
                                    <input type="task" class="form-control new-task" placeholder="Due Date">
                                </div>
                                <div class="form-group">
                                    <button id="new-task-button" type="submit" class="btn btn-success btn-block"><i
                                            id="plus-icon" class="fa fa-plus"></i></button>
                                </div>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                    </tr>
                    </tfoot>
                </table>
                <div id="duplicate-msg" class="alert alert-danger" role="alert">
                    <p>You've already entered this.</p>
                </div>
                <div id="empty-msg" class="alert alert-danger" role="alert">
                    <p>Please enter a new task.</p>
                </div>
            </div> <!-- end panel-body -->
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</aside>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
{#<script type="text/javascript" src="{% static 'js/picker.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/picker.date.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/picker.time.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>#}
</body>
</html>